.swagger-section #header {
    background-color: #004a6e;
}

.swagger-section #explore {
    background-color: #00354f;
}

.swagger-section #explore:hover {
    background-color: #c62b26;
}

.swagger-section .swagger-ui-wrap a {
    color: #115070;
}

.swagger-section .swagger-ui-wrap select.parameter {
    width: 150px;
    border: 1px solid #aaa;
}

.swagger-section .swagger-ui-wrap input.parameter {
    width: 150px;
    border: 1px solid #aaa;
}

.swagger-section .swagger-ui-wrap .operation-params .markdown {
    font-size: 10px;
}

#api_info {
    font-size: 10pt;
}

form#api_selector input#input_apiKey {
    display: none;
}

form#api_selector A#explore {
    display: none;
}
