################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

Visual Studio bestanden
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.psess
*.vsp
*.vspx
*.sap

# SQL Server
*.mdf
*.ldf
*.ndf

FakesAssemblies/

BenChain.Web/node_modules

/BenChain.Api/BenChain.Api/obj/Debug/BenChain.Api.csprojAssemblyReference.cache
/BenChain.Api/BenChain.Api/obj/Debug
/BenChain.Api/BenChain.Api/bin
/BenChain.Api/.vs/BenChain.Api/v16/Server/sqlite3/storage.ide-wal
/BenChain.Api/.vs/BenChain.Api/v16/Server/sqlite3/storage.ide-shm
/BenChain.Api/.vs/BenChain.Api/v16/Server/sqlite3/storage.ide
/BenChain.Api/.vs/BenChain.Api/v16/Server/sqlite3/db.lock
/BenChain.Api/.vs/BenChain.Api/v16/Server/sqlite3
/BenChain.Api/.vs/BenChain.Api/v16/.suo
/BenChain.Api/.vs/BenChain.Api/v16
/BenChain.Api/.vs/BenChain.Api/config/applicationhost.config
/BenChain.Api/.vs/BenChain.Api/config
/BenChain.Api/.vs/BenChain.Api

**/bin/
**/obj/
