@model BenChain.Web.AdminLTE.ViewModels.Home.HomeViewModel
@{
  Model.Title = "Home";
}

<div class="container">
  <section class="content-header">
    <div class="row">
      <div class="col-sm-6">
        <h1>Portal <small>with your permissions</small></h1>
      </div>
      <div class="col-sm-6">
        <a href="add-request.html" class="btn btn-info btn-add-request hvr-bounce-to-right">Add request</a>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-md-3 col-xs-6">
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>150</h3>
            <p>Permissions</p>
          </div>
          <div class="icon">
            <i class="ion ion-link"></i>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="small-box bg-green">
          <div class="inner">
            <h3>53</h3>
            <p>Approved</p>
          </div>
          <div class="icon">
            <i class="ion ion-checkmark"></i>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>44</h3>
            <p>Pending</p>
          </div>
          <div class="icon">
            <i class="ion ion-clock"></i>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="small-box bg-red">
          <div class="inner">
            <h3>65</h3>
            <p>Declined</p>
          </div>
          <div class="icon">
            <i class="ion ion-close"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-md-6">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title"><strong>Your</strong> permissions</h3>
            <div class="pull-right">
              <span class="badge">13</span>
            </div>
          </div>
          <div class="box-body">
            <div class="box panel">
              <a href="permission-detail" class="panel-title">
                <span class="pull-right">
                  <span class="status status-pending">Pending</span>
                  <span class="enddate">14-4-2019</span>
                </span>
                <span class="icon"><i class="fa fa-camera"></i></span>
                <span class="title">Title request</span>
                <span class="participant">Name participant</span>
              </a>
            </div>
            <div class="box panel">
              <a href="permission-detail" class="panel-title">
                <span class="pull-right">
                  <span class="status status-approved">Approved</span>
                  <span class="enddate">14-4-2019</span>
                </span>
                <span class="icon"><i class="fa fa-pie-chart"></i></span>
                <span class="title">Title request</span>
                <span class="participant">Name participant</span>
              </a>
            </div>
            <div class="box panel">
              <a href="permission-detail" class="panel-title">
                <span class="pull-right">
                  <span class="status status-approved">Approved</span>
                  <span class="enddate">14-4-2019</span>
                </span>
                <span class="icon"><i class="fa fa-pie-chart"></i></span>
                <span class="title">Title request</span>
                <span class="participant">Name participant</span>
              </a>
            </div>
            <div class="box panel">
              <a href="permission-detail" class="panel-title">
                <span class="pull-right">
                  <span class="status status-declined">Declined</span>
                  <span class="enddate">14-4-2019</span>
                </span>
                <span class="icon"><i class="fa fa-camera"></i></span>
                <span class="title">Title request</span>
                <span class="participant">Name participant</span>
              </a>
            </div>
            <div class="box panel">
              <a href="permission-detail" class="panel-title">
                <span class="pull-right">
                  <span class="status status-approved">Approved</span>
                  <span class="enddate">14-4-2019</span>
                </span>
                <span class="icon"><i class="fa fa-camera"></i></span>
                <span class="title">Title request</span>
                <span class="participant">Name participant</span>
              </a>
            </div>
            <div class="box panel">
              <a href="permission-detail" class="panel-title">
                <span class="pull-right">
                  <span class="status status-approved">Approved</span>
                  <span class="enddate">14-4-2019</span>
                </span>
                <span class="icon"><i class="fa fa-pie-chart"></i></span>
                <span class="title">Title request</span>
                <span class="participant">Name participant</span>
              </a>
            </div>
            <div class="box panel">
              <a href="permission-detail" class="panel-title">
                <span class="pull-right">
                  <span class="status status-declined">Declined</span>
                  <span class="enddate">14-4-2019</span>
                </span>
                <span class="icon"><i class="fa fa-pie-chart"></i></span>
                <span class="title">Title request</span>
                <span class="participant">Name participant</span>
              </a>
            </div>
            <div class="box panel">
              <a href="permission-detail" class="panel-title">
                <span class="pull-right">
                  <span class="status status-approved">Approved</span>
                  <span class="enddate">14-4-2019</span>
                </span>
                <span class="icon"><i class="fa fa-camera"></i></span>
                <span class="title">Title request</span>
                <span class="participant">Name participant</span>
              </a>
            </div>
            <div class="box panel">
              <a href="permission-detail" class="panel-title">
                <span class="pull-right">
                  <span class="status status-approved">Approved</span>
                  <span class="enddate">14-4-2019</span>
                </span>
                <span class="icon"><i class="fa fa-pie-chart"></i></span>
                <span class="title">Title request</span>
                <span class="participant">Name participant</span>
              </a>
            </div>
            <div class="box panel">
              <a href="permission-detail" class="panel-title">
                <span class="pull-right">
                  <span class="status status-approved">Approved</span>
                  <span class="enddate">14-4-2019</span>
                </span>
                <span class="icon"><i class="fa fa-pie-chart"></i></span>
                <span class="title">Title request</span>
                <span class="participant">Name participant</span>
              </a>
            </div>
            <div class="box panel">
              <a href="permission-detail" class="panel-title">
                <span class="pull-right">
                  <span class="status status-declined">Declined</span>
                  <span class="enddate">14-4-2019</span>
                </span>
                <span class="icon"><i class="fa fa-pie-chart"></i></span>
                <span class="title">Title request</span>
                <span class="participant">Name participant</span>
              </a>
            </div>
            <div class="box panel">
              <a href="permission-detail" class="panel-title">
                <span class="pull-right">
                  <span class="status status-approved">Approved</span>
                  <span class="enddate">14-4-2019</span>
                </span>
                <span class="icon"><i class="fa fa-camera"></i></span>
                <span class="title">Title request</span>
                <span class="participant">Name participant</span>
              </a>
            </div>
            <div class="box panel">
              <a href="permission-detail" class="panel-title">
                <span class="pull-right">
                  <span class="status status-approved">Approved</span>
                  <span class="enddate">14-4-2019</span>
                </span>
                <span class="icon"><i class="fa fa-pie-chart"></i></span>
                <span class="title">Title request</span>
                <span class="participant">Name participant</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title"><strong>Incoming</strong> requests</h3>
            <div class="pull-right">
              <span class="badge">4</span>
            </div>
          </div>
          <div class="box-body">
            <div class="box panel">
              <a data-toggle="collapse" data-parent="#accordion" href="#incoming0" aria-expanded="false" class="panel-title collapsed">
                <span class="pull-right">
                  <span class="status status-toggle">Review <i class="zmdi zmdi-chevron-down"></i></span>
                  <span class="enddate">14-4-2019</span>
                </span>
                <span class="icon"><i class="zmdi zmdi-layers"></i></span>
                <span class="title">Permit request</span>
                <span class="participant">Name participant</span>
              </a>
              <div id="incoming0" class="panel-collapse collapse" aria-expanded="false">
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
                <div class="alert">
                  <h4>Extra verification required</h4>
                  <button class="btn btn-link btn-digid"><img src="~/Content/Images/logo-digid.png" alt="digid">Login with your DigiD account</button>
                </div>
                <button class="btn btn-danger pull-left hvr-bounce-to-right">Decline</button>
                <button class="btn btn-success pull-right hvr-bounce-to-right disabled">Approve</button>
              </div>
            </div>
            <div class="box panel">
              <a data-toggle="collapse" data-parent="#accordion" href="#incoming1" aria-expanded="false" class="panel-title collapsed">
                <span class="pull-right">
                  <span class="status status-toggle">Review <i class="zmdi zmdi-chevron-down"></i></span>
                  <span class="enddate">14-4-2019</span>
                </span>
                <span class="icon"><i class="fa fa-camera"></i></span>
                <span class="title">Share photo request</span>
                <span class="participant">Name school</span>
              </a>
              <div id="incoming1" class="panel-collapse collapse" aria-expanded="false">
                <img src="~/Content/Images/classroom-stock.jpg" alt="photo">
                <button class="btn btn-danger pull-left hvr-bounce-to-right">Decline</button>
                <button class="btn btn-success pull-right hvr-bounce-to-right">Approve</button>
              </div>
            </div>
            <div class="box panel">
              <a data-toggle="collapse" data-parent="#accordion" href="#incoming2" aria-expanded="false" class="panel-title collapsed">
                <span class="pull-right">
                  <span class="status status-toggle">Review <i class="zmdi zmdi-chevron-down"></i></span>
                  <span class="enddate">14-4-2019</span>
                </span>
                <span class="icon"><i class="fa fa-pie-chart"></i></span>
                <span class="title">Financial insight request</span>
                <span class="participant">Name participant</span>
              </a>
              <div id="incoming2" class="panel-collapse collapse" aria-expanded="false">
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
                <div class="alert">
                  <h4>Highlights for this request</h4>
                  <ul>
                    <li><i class="zmdi zmdi-check-square advantage"></i> Highlight 1</li>
                    <li><i class="zmdi zmdi-check-square advantage"></i> Highlight 2</li>
                    <li><i class="zmdi zmdi-check-square advantage"></i> Highlight 3</li>
                    <li><i class="zmdi zmdi-minus-square disadvantage"></i> Focus on 1</li>
                    <li><i class="zmdi zmdi-minus-square disadvantage"></i> Focus on 2</li>
                  </ul>
                </div>
                <button class="btn btn-danger pull-left hvr-bounce-to-right">Decline</button>
                <button class="btn btn-success pull-right hvr-bounce-to-right">Approve</button>
              </div>
            </div>
            <div class="box panel">
              <a data-toggle="collapse" data-parent="#accordion" href="#incoming3" aria-expanded="true" class="panel-title">
                <span class="pull-right">
                  <span class="status status-toggle">Collapse <i class="zmdi zmdi-chevron-up"></i></span>
                  <span class="enddate">14-4-2019</span>
                </span>
                <span class="icon"><i class="fa fa-camera"></i></span>
                <span class="title">Share photo request</span>
                <span class="participant">Name school</span>
              </a>
              <div id="incoming3" class="panel-collapse in" aria-expanded="true">
                <img src="~/Content/Images/classroom-stock.jpg" alt="photo">
                <button class="btn btn-danger pull-left hvr-bounce-to-right">Decline</button>
                <button class="btn btn-success pull-right hvr-bounce-to-right">Approve</button>
              </div>
              <!-- Loading (remove the following to stop the loading)-->
              <div class="overlay">
                <i class="fa fa-refresh fa-spin"></i>
              </div>
              <!-- end loading -->
            </div>
          </div>
        </div>
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">Requests <strong>sent</strong></h3>
            <div class="pull-right">
              <span class="badge">2</span>
            </div>
          </div>
          <div class="box-body">
            <div class="box panel">
              <a href="permission-detail.html" class="panel-title">
                <span class="pull-right">
                  <span class="status status-pending">Pending</span>
                  <span class="enddate">14-4-2019</span>
                </span>
                <span class="icon"><i class="fa fa-camera"></i></span>
                <span class="title">Title request</span>
                <span class="participant">Name participant</span>
              </a>
            </div>
            <div class="box panel">
              <a href="permission-detail.html" class="panel-title">
                <span class="pull-right">
                  <span class="status status-pending">Pending</span>
                  <span class="enddate">14-4-2019</span>
                </span>
                <span class="icon"><i class="fa fa-pie-chart"></i></span>
                <span class="title">Title request</span>
                <span class="participant">Name participant</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>