<div class="container">
  <section class="content-header">
    <div class="row">
      <div class="col-sm-12">
        <h1>Permission <small>detail</small></h1>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="box box-primary">
      <div class="box-body box-body-details">
        <div class="row">
          <div class="col-md-7">
            <div class="pull-right">
              <span class="label label-pending">Pending</span>
              <button class="btn btn-danger hvr-bounce-to-right">Decline</button>
            </div>
            <p class="lead">Title of permission</p>
            <div class="table-responsive">
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <th>Type:</th>
                    <td><i class="fa fa-pie-chart"></i> Finance request</td>
                  </tr>
                  <tr>
                    <th>Participant:</th>
                    <td>Name of participant</td>
                  </tr>
                  <tr>
                    <th>End date:</th>
                    <td>14-4-2019</td>
                  </tr>
                  <tr>
                    <th>Created on:</th>
                    <td>12-4-2019</td>
                  </tr>
                  <tr>
                    <th>Message:</th>
                    <td>Photo/file/text, like: Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-5">
            <p class="lead">History</p>
            <div class="table-responsive">
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <td>14-4-2019</td>
                    <td>Name #5</td>
                    <td><span class="label label-pending">Pending</span></td>
                  </tr>
                  <tr>
                    <td>14-4-2019</td>
                    <td>Name #4</td>
                    <td><span class="label label-declined">Declined</span></td>
                  </tr>
                  <tr>
                    <td>14-4-2019</td>
                    <td>Name #3</td>
                    <td><span class="label label-approved">Approved</span></td>
                  </tr>
                  <tr>
                    <td>14-4-2019</td>
                    <td>Name #2</td>
                    <td><span class="label label-approved">Approved</span></td>
                  </tr>
                  <tr>
                    <td>14-4-2019</td>
                    <td>Name #1</td>
                    <td><span class="label label-approved">Approved</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>